<nav>
  <div class="logo-container">
    <div class="navbar-logo">
      <h1>SmartCity</h1>
      <h2>WasteManagement</h2>
    </div>
  </div>
  <div class="buttons-container">
    <button type="button" routerLink="/municipal_office/citizens-list">Home</button>
    <button type="button" routerLink="/municipal_office/smartbin-allocation">SmartBins Allocation</button>
    <button type="button" routerLink="/municipal_office/emit-taxes">Tax Issuance</button>
  </div>
  <div class="logout-container">
    <button type="button" class="logout-button" (click)="logout()">Log out</button>
  </div>
</nav>
