<nav>
  <div class="logo-container">
    <div class="navbar-logo">
      <h1>SmartCity</h1>
      <h2>WasteManagement</h2>
    </div>
  </div>
  <div class="buttons-container">
    <button type="button" routerLink="/municipal_office/citizens-list">Elenco Cittadini</button>
    <button type="button" routerLink="/municipal_office/smartbin-allocation">Allocazione SmartBins</button>
    <button type="button" routerLink="/municipal_office/emit-taxes">Emissione Tasse</button>
  </div>
  <div class="logout-container">
    <button type="button" class="logout-button" (click)="logout()">Esci</button>
  </div>
</nav>
