<body>
  <h1>SmartBins Dashboard</h1>

  <div class="layout">

    <div class="bin-list">
      <h2>SmartBins attivi</h2>
      <p *ngIf="this.smartBinsSorted.length==0" style="color:#444444; font-size: 1rem;">
        ⏱️ Nessuno SmartBin è stato ancora allocato.
      </p>
      <app-smart-bin-item-card
        *ngFor="let smartbin of this.smartBinsOverThreshold"
        [smartBin]=smartbin
        [isInSelectionMode]="cleaningMode"
        [isSelected]="this.smartBinCleaningPath.indexOf(smartbin) != -1"
        (selectionEvent)="handleSelectionEvent($event)"
        [selectionOrder]="getSelectionOrder(smartbin)">
      </app-smart-bin-item-card>
      <div style="align-self: center;margin-top: 0.5rem; margin-bottom: 1rem; width: 90%; height: 2px; border-radius: 2px; background: #6f5e99ff">
      </div>
      <app-smart-bin-item-card
        *ngFor="let smartbin of this.smartBinsUnderThreshold"
        [smartBin]=smartbin
        [isInSelectionMode]="cleaningMode"
        [isSelected]="this.smartBinCleaningPath.indexOf(smartbin) != -1"
        (selectionEvent)="handleSelectionEvent($event)"
        [selectionOrder]="getSelectionOrder(smartbin)">
      </app-smart-bin-item-card>
    </div>

    <div class="right-column">

      <div id="SmartBinsMap">
        <app-map [mapId]="'SmartBinsMap'"></app-map>
      </div>

      <!--<button *ngFor="let smartbin of this.smartBins" (click)="highlightBinItem(smartbin.id!)">Evidenzia {{smartbin.name}}</button>-->

      <button style="margin-top: 10px;" class="btn btn-primary" (click)="toggleCleaningMode()" *ngIf="!cleaningMode">🧹Istanzia Pulizia</button>
      <div style="margin-top: 10px;" class ="cleaning-buttons" *ngIf="cleaningMode">
        <button class="btn btn-danger" (click)="toggleCleaningMode()">Annulla</button>
        <button class="btn btn-primary" (click)="executeCleaningPath()" [disabled]="smartBinCleaningPath.length == 0" style="flex-grow: 1; flex-basis: 200%;">🧹Istanzia Pulizia</button>
      </div>

      <div class="request-list">
        <h2>Percorsi di pulizia in attesa di completamento️</h2>

        <p *ngIf="this.smartBinService.cleaningPathList == null || this.smartBinService.cleaningPathList.length == 0" style="color:#444444; font-size: 1rem;">
          ✅ Tutti i percorsi di pulizia sono stati effettuati.
        </p>
        <div *ngIf="this.smartBinService.cleaningPathList && this.smartBinService.cleaningPathList.length > 0">
          <app-cleaning-path-item-card
            *ngFor="let cleaningPath of this.smartBinService.cleaningPathList"
            [cleaningPath]=cleaningPath
            [isCollapsed]="true">
          </app-cleaning-path-item-card>
        </div>
      </div>
      <div class="request-list">
        <h2>Richieste allocazione in attesa️</h2>

        <p *ngIf="this.smartBinRequestService.smartBinRequests == null || this.smartBinRequestService.smartBinRequests.length == 0" style="color:#444444; font-size: 1rem;">
          ✅ Nessuna richiesta in attesa.
        </p>
        <app-request-item-card
          [smartBinRequest]=smartbinRequest
          *ngFor="let smartbinRequest of this.smartBinRequestService.smartBinRequests"
          [showDecisionControls]="true">
        </app-request-item-card>

      </div>


    </div>
  </div>

  <div style="height: 50px;"></div>

</body>
