<body>
  <h1>Emissione Tasse</h1>

  <p *ngIf="!this.showForm">✅ Tasse emesse per l'anno corrente. Attendere il prossimo anno.</p>

  <p *ngIf="this.showForm">Imposta la tariffa per kg di rifiuto.</p>

  <form *ngIf="this.showForm" #emitTaxesForm="ngForm" (ngSubmit)="onSubmit(emitTaxesForm)" class="cool-background">

    <div class="form-group" style="padding-left: 15px; padding-top: 15px;">
      <label for="inputBaseFee"><b>Tariffa base</b></label>
      <input
        [(ngModel)]="baseFee" name="inputBaseFee"
        required
        #inputBaseFee = "ngModel"
        [ngClass]="{'is-invalid': inputBaseFee.errors && inputBaseFee.touched}"
        type="number" class="form-control" id="inputBaseFee" placeholder="Valore (€)">
      <!--{{user.name}}-->
      <div class="invalid-feedback">
        Inserisci un valore valido.
      </div>
    </div>


    <div class="form-inputs-container">

      <div class="form-group" *ngFor="let type of this.wasteTypes; let i = index">
        <label for="inputWasteFee">Tariffa <b>{{type.name}}</b> (per kg)</label>
        <input
          [(ngModel)]="feeAmounts[i]" name="{{type.name}}"
          required
          #inputWasteFee = "ngModel"
          [ngClass]="{'is-invalid': inputWasteFee.errors && inputWasteFee.touched}"
          type="number" class="form-control" id="inputWasteFee" placeholder="Valore (€)">
        <!--{{user.name}}-->
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>

      <!--
      <div class="form-group">
        <label for="inputMixedWaste1">Tariffa indifferenziata (per kg)</label>
        <input
          [(ngModel)]="indifferenziata" name="mixedWaste"
          required
          #inputMixedWaste1 = "ngModel"
          [ngClass]="{'is-invalid': inputMixedWaste1.errors && inputMixedWaste1.touched}"
          type="number" class="form-control" id="inputMixedWaste1" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      <div class="form-group">
        <label for="inputGlass">Tariffa Vetro (per kg)</label>
        <input
          [(ngModel)]="glass" name="glass"
          required
          #inputGlass = "ngModel"
          [ngClass]="{'is-invalid': inputGlass.errors && inputGlass.touched}"
          type="number" class="form-control" id="inputGlass" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      <div class="form-group">
        <label for="inputPlastic">Tariffa Plastica (per kg)</label>
        <input
          [(ngModel)]="plastic" name="plastic"
          required
          #inputPlastic = "ngModel"
          [ngClass]="{'is-invalid': inputPlastic.errors && inputPlastic.touched}"
          type="number" class="form-control" id="inputPlastic" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      -->
    </div>


    <button
      [disabled] = "!emitTaxesForm.valid"
      type="submit"
      class="btn btn-primary">Emetti tasse per anno 2023</button>
  </form>
</body>
