<body>
  <h1>Emissione Tasse</h1>

  <p *ngIf="this.waitingForTaxStatus" style="color:#444444; font-size: 1rem;">
    ⏱️ Updating..
  </p>
  <p *ngIf="!this.showForm && this.waitingForTaxStatus == false && this.loadTaxStatusError == false" style="color:#444444; font-size: 1rem;">
    ✅ Taxes issued for the current year. Please wait until next year.
  </p>
  <p *ngIf="this.loadTaxStatusError == true" style="color:#444444; font-size: 1rem;">
    😵 Unknown error. Unable to get Tax status.
  </p>


  <p *ngIf="this.showForm && this.waitingForTaxStatus == false && this.loadTaxStatusError == false">Set the fee per kg of waste.</p>

  <form *ngIf="this.showForm && this.waitingForTaxStatus == false && this.loadTaxStatusError == false" #emitTaxesForm="ngForm" (ngSubmit)="onSubmit(emitTaxesForm)" class="cool-background">

    <div class="form-group" style="padding-left: 15px; padding-top: 15px;">
      <label for="inputBaseFee"><b>Base Fee</b></label>
      <input
        [(ngModel)]="baseFee" name="inputBaseFee"
        required
        #inputBaseFee = "ngModel"
        [ngClass]="{'is-invalid': inputBaseFee.errors && inputBaseFee.touched}"
        type="number" class="form-control" id="inputBaseFee" placeholder="Amount (€)">
      <!--{{user.name}}-->
      <div class="invalid-feedback">
        Please enter a valid value.
      </div>
    </div>


    <div class="form-inputs-container">

      <div class="form-group" *ngFor="let type of this.wasteTypes; let i = index">
        <label for="inputWasteFee"><b>{{type.name}}</b>'s Fee (per kg)</label>
        <input
          [(ngModel)]="feeAmounts[i]" name="{{type.name}}"
          required
          #inputWasteFee = "ngModel"
          [ngClass]="{'is-invalid': inputWasteFee.errors && inputWasteFee.touched}"
          type="number" class="form-control" id="inputWasteFee" placeholder="Amount (€)">
        <!--{{user.name}}-->
        <div class="invalid-feedback">
          Please enter a valid value.
        </div>
      </div>

      <!--
      <div class="form-group">
        <label for="inputMixedWaste1">Tariffa indifferenziata (per kg)</label>
        <input
          [(ngModel)]="indifferenziata" name="mixedWaste"
          required
          #inputMixedWaste1 = "ngModel"
          [ngClass]="{'is-invalid': inputMixedWaste1.errors && inputMixedWaste1.touched}"
          type="number" class="form-control" id="inputMixedWaste1" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      <div class="form-group">
        <label for="inputGlass">Tariffa Vetro (per kg)</label>
        <input
          [(ngModel)]="glass" name="glass"
          required
          #inputGlass = "ngModel"
          [ngClass]="{'is-invalid': inputGlass.errors && inputGlass.touched}"
          type="number" class="form-control" id="inputGlass" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      <div class="form-group">
        <label for="inputPlastic">Tariffa Plastica (per kg)</label>
        <input
          [(ngModel)]="plastic" name="plastic"
          required
          #inputPlastic = "ngModel"
          [ngClass]="{'is-invalid': inputPlastic.errors && inputPlastic.touched}"
          type="number" class="form-control" id="inputPlastic" placeholder="Valore (€)">
        <div class="invalid-feedback">
          Inserisci un valore valido.
        </div>
      </div>
      -->
    </div>


    <button
      [disabled] = "!emitTaxesForm.valid || isEmittingTaxes"
      type="submit"
      class="btn ">{{paymentButtonMessage}}</button>
  </form>
</body>
