<body>
  <div style="margin-bottom: 10px;">
    <a routerLink="/municipal_office/citizens-list">◂ Indietro</a>
  </div>

  <h4>{{citizen.surname + " " + citizen.name}}</h4>
  <p>🏠 <b>{{citizen.address?.city + " - " + citizen.address?.streetName + ", " + citizen.address?.streetNumber}}</b></p>
  <p>🐌 <i>{{citizen.email}}</i></p>


  <h2>Stato tasse</h2>
  <div>
    <table>
      <tr class="table-header">
        <th>Codice Tassa<div class="column-border"></div></th>
        <th>Anno<div class="column-border"></div></th>
        <th>Importo (€)<div class="column-border"></div></th>
        <th>Scadenza pagamento<div class="column-border"></div></th>
        <th>Data pagamento<div class="column-border"></div></th>
        <th>Stato</th>
      </tr>

      <tr>
        <td colspan="6"><div class="separator"></div></td>
      </tr>
      <tr *ngFor="let tax of this.taxes">
        <td>{{tax.id}}</td>
        <td>{{tax.year}}</td>
        <td>{{tax.amount}}</td>
        <td>{{tax.expireDate}}</td>
        <td>{{tax.paymentDate ? tax.paymentDate : "-"}}</td>
        <td>{{tax.paymentDate ? "Pagato" : "Non pagato"}}</td>
      </tr>

    </table>


  </div>


  <h2>Ultimi conferimenti</h2>
  <div>
    <table>
      <tr class="table-header">
        <th>Data</th>
        <th>Codice Conferimento<div class="column-border"></div></th>
        <th>Tipologia rifiuto<div class="column-border"></div></th>
        <th>Volume (kg)<div class="column-border"></div></th>
      </tr>
      <tr>
        <td colspan="4"><div class="separator"></div></td>
      </tr>
      <tr *ngFor="let disposal of this.disposals">
        <td>{{disposal.date}}</td>
        <td>{{disposal.id}}</td>
        <td>{{disposal.wasteType}}</td>
        <td>{{disposal.disposalVolume}} kg</td>
      </tr>

    </table>
  </div>
  <div style="margin-top: 10px">
    <a href="https://google.it">Mostra conferimenti meno recenti</a>
  </div>



  <h2>Performance separazione rifiuti ({{Citizen.getSeparationPerformance(citizen)}}%)</h2>
  <div>
    <table>
      <tr class="table-header">
        <th>Tipologia rifiuto<div class="column-border"></div></th>
        <th>Volume generato (kg)<div class="column-border"></div></th>
        <th>Percentuale su totale<div class="column-border"></div></th>
        <th>Percentuale su indifferenziata</th>
      </tr>
      <tr>
        <td colspan="4"><div class="separator"></div></td>
      </tr>
      <tr *ngFor="let key of Object.keys(citizen.generatedVolume.sortedWaste)">
        <td>{{key}}</td>
        <td>{{citizen.generatedVolume.sortedWaste[key]}}</td>
        <td>{{Citizen.getPercentageOfTotalWaste(citizen.generatedVolume.sortedWaste[key], citizen)}}%</td>
        <td>{{Number(citizen.generatedVolume.sortedWaste[key] / citizen.generatedVolume.mixedWaste * 100).toFixed(1)}}%</td>
      </tr>
      <tr>
        <td>Indifferenziata</td><td>{{citizen.generatedVolume.mixedWaste}}</td>
        <td>{{Citizen.getPercentageOfTotalWaste(citizen.generatedVolume.mixedWaste, citizen)}}%</td>
        <td>-</td>
      </tr>

    </table>

    <!--Grafico a torta con testo che indica se è un bravo cittadino-->
    <app-pie-chart
      [separationPerformancePercentage]="Citizen.getSeparationPerformance(citizen)"
      [wasteTypes]="Citizen.getWasteTypeNames(citizen)"
      [wasteVolumeGenerated]="Citizen.getWasteVolumeGenerated(citizen)"
    >
    </app-pie-chart>


    <div style="height: 100px;"></div>

  </div>
</body>
