<nav>
  <div class="logo-container">
    <div class="navbar-logo">
      <h1>SmartCity</h1>
      <h2>WasteManagement</h2>
    </div>
  </div>
  <div class="buttons-container">
    <button type="button" routerLink="/waste_management_company/smartbin-dashboard">Home</button>
    <button type="button" routerLink="/waste_management_company/waste-types">Waste types</button>
  </div>
  <div class="logout-container">
    <button type="button" class="logout-button" (click)="logout()">Log out</button>
  </div>
</nav>
<div *ngIf="showBanner && this.alarms.length >= 1" class="banner background-{{getBannerTypology()}}">

  <div class="message">
    <h6 style="margin: 0">
      ⚠️ {{alarms[alarms.length - 1].title}}
    </h6>
    {{alarms[alarms.length - 1].description}}
  </div>

  <div class="countdown-container background-{{getBannerTypology()}}">
    <div class="filler filler-{{getBannerTypology()}}"></div>
  </div>
</div>
