nav {
  //height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background: #4874;
  background: lightblue;
  background: gainsboro;
  background: #575B68ff;
  background: #6f5e99ff;

  flex-wrap: wrap;

  /*position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;*/
}

.buttons-container > * {
  padding-inline: 20px;
  margin-inline: 20px;
}

button {
  border: 0;
  height: 60px;

  background: #0000;


  color: #000b;
  color: white;

}
button:hover {
  color: #000f;
  color: #fffd;
  //text-shadow: 0px 0px 19px #ffff;
}

.logo-container {
  height: 60px;
  width: 200px;
}
.logout-button {
  width: 100px;
  margin-left: 100px;
}
.logout-button:hover {
  color: #f66;
}





.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  padding-top: 10px;
  background-color: tomato;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.epileptic-background {
  animation: background-animation 0.09s linear infinite alternate;
}

@keyframes background-animation {
  0% {
    background-color: tomato;
    scale: 100%;
  }
  50% {
    background-color: blue;
    scale: 140%;
  }
  100% {
    background-color: tomato;
    scale: 140%;

  }
}








.countdown-container {
  width: 100%;
  height: 10px;
  background-color: tomato;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.filler {
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  animation: countdown-animation 20s linear forwards;
  padding: 0;
  margin: 0;
}

@keyframes countdown-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

h1, h2 {
  color: #eee;
}
