<body>
<div class="logo">
  <h1>SmartCity</h1>
  <h2>WasteManagement</h2>
</div>

<form #tokenValidateForm="ngForm" (ngSubmit)="onSubmit(tokenValidateForm)">
  <p>Your code has been sent to your email inbox. Type that!</p>

  <div class="form-group">
    <label for="exampleInputToken">Token</label>
    <input
      [(ngModel)]="user.passwordResetToken" name="token"
      required
      minlength="1"
      pattern=".*"
      #inputToken = "ngModel"
      [ngClass]="{'is-invalid': inputToken.errors && inputToken.touched}"
      type="text" class="form-control" id="exampleInputToken" placeholder="Enter token">
    <!--{{user.name}}-->
    <div class="invalid-feedback">
      Please, provide a valid token.
    </div>
  </div>

  <button
    [disabled] = "!tokenValidateForm.valid"
    type="submit" class="btn btn-primary" (click)="validateToken()">Next</button>
</form>
</body>
