<!--<div class="pie-chart">
  <div *ngFor="let slice of slices; let i = index" class="slice" [style.transform]="'rotate(' + calculateRotation(slice.startAngle) + 'deg)'">
    <div class="triangle" [style.border-bottom-color]="slice.color"></div>
  </div>
</div>
-->
<div class="container" *ngIf="this.wasteVolumeGenerated && this.customColors && this.wasteTypes && separationPerformanceColor">
  <canvas
    baseChart
    [type]="'doughnut'"
    [legend]="false"
    [datasets]="[
      {
        data: this.wasteVolumeGenerated,
        backgroundColor: this.customColors,
        label: 'Generated volume (kg)'
      }
    ]"
    [labels]="this.wasteTypes"
    [options]="
     {
      responsive: true,
      plugins: {
        legend: {
          position: 'right'
        }
      },
      elements: {
        arc: {
          borderWidth: 0
        }
      }
    }"
  >
  </canvas>

  <div class="percentage" style="{{'background: '+ separationPerformanceColor}};">
    <h1>{{separationPerformancePercentage}}%</h1>
  </div>

</div>
