.container {
  height: 300px;

  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  //background: red;
}

canvas {
  z-index: 2;
  position: relative;

}

.percentage
 {
  z-index: 1;
  position: absolute;
  //bottom: 87px;
  //left: 99px;
  background: #6a9;

  //border: 1px solid red;
  border-radius: 50%;

  ///width: 125px;
  //height: 125px;
  max-width: 125px;
  max-height: 125px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  //text-align: center;

  //background: red;
}

.transparent {
  opacity: 0;
}
.not-transparent {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.not-transparent-percentage {
  opacity: 1;
  transition: opacity 0.2s ease;
}


