<body>
  <div class="logo">
    <h1>SmartCity</h1>
    <h2>WasteManagement</h2>
  </div>

  <form #usernameForm="ngForm" (ngSubmit)="onSubmit(usernameForm)">
    <p>Type in your Username, we’ll send you a <b>Magic Code</b> via email that will make you set a <b>new Password</b>.</p>

    <div class="form-group">
      <label for="exampleInputUsername">Username</label>
      <input
        [(ngModel)]="user.username" name="username"
        required
        minlength="1"
        pattern=".*"
        #inputUsername = "ngModel"
        [ngClass]="{'is-invalid': inputUsername.errors && inputUsername.touched}"
        type="text" class="form-control" id="exampleInputUsername" placeholder="Enter username">
      <!--{{user.name}}-->
      <div class="invalid-feedback">
        Please, provide a username.
      </div>
    </div>

    <button
      [disabled] = "!usernameForm.valid"
      type="submit" class="btn btn-primary" (click)="sendEmailToken()">Send magic Token</button>

    <div style="margin-bottom: 10px;">
      <a routerLink="/">Go back</a>
    </div>
  </form>

</body>
