<body>
<h1>Waste Types</h1>
  <div style="display: flex; flex-wrap: wrap; gap: 3rem;">
    <form #addNewWasteTypeForm="ngForm" class="cool-background">
      <!--<p>Now, type your new, fresh password 😊</p>-->

      <h5>Insert new waste type</h5>

      <div class="input-container" style="display: flex; flex-wrap: wrap;">
        <div class="left-inputs">
          <div class="form-group">
            <label for="inputTypeName">Name</label>
            <input
              [(ngModel)]="newWasteType.name" name="typeName"
              required
              minlength="3"
              pattern=".*"
              #inputTypeName = "ngModel"
              [ngClass]="{'is-invalid': inputTypeName.errors && inputTypeName.touched}"
              type="text" class="form-control" id="inputTypeName" placeholder="Type name">

            <div class="invalid-feedback">
              Insert waste type name.
            </div>
          </div>

          <div class="form-group">
            <label for="inputTypeColor">Color</label>
            <input
              [(ngModel)]="newWasteType.color" name="typeColor"
              required
              #inputTypeColor="ngModel"
              [ngClass]="{'is-invalid': inputTypeColor.errors && inputTypeColor.touched}"
              type="color" class="form-control" id="inputTypeColor" placeholder="Type color">

            <div class="invalid-feedback">
              Insert waste type color.
            </div>
          </div>
        </div>


          <div class="form-group">
            <label for="inputTypeDescription">Description</label>
            <textarea
              [(ngModel)]="newWasteType.description" name="typeDescription"
              required
              minlength="3"
              pattern=".*"
              rows="4"
              #inputTypeDescription="ngModel"
              [ngClass]="{'is-invalid': inputTypeDescription.errors && inputTypeDescription.touched}"
              class="form-control" id="inputTypeDescription" placeholder="Type description">
            </textarea>

            <div class="invalid-feedback">
              Insert description of waste type
            </div>
          </div>

      </div>

      <!--[disabled]="this.markerService.markers.length != 1"-->
      <button
        [disabled] = "!addNewWasteTypeForm.valid"
        type="submit" (click)="addNewWasteType()" class="btn">📍 Add new waste Type</button>
    </form>

    <table>
      <tr class="table-header">
        <th style="padding-right: 3vw;">Waste Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td colspan="2"><div class="separator"></div></td>
      </tr>

      <tr  *ngFor="let wasteType of this.wasteTypes">
        <td style="display: flex; align-items: center;">
          <div class="wasteType-color" style="{{'background: '+ wasteType.color}};"></div>
          {{wasteType.name}}
        </td>
        <td>{{wasteType.description}}</td>
      </tr>
    </table>
  </div>

</body>
