.item-card {
  border: 1px solid #0004;
  border-radius: 4px;
  display: flex;
  flex-direction: row;

  padding-top: 0.6rem;
  padding-left: 16px;
  padding-right: 16px;
  //padding-bottom: 13px;

  margin-bottom: 10px;
}
.item-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item-header {
  //width: 400px;
  //background: #00eeff33;
  //border: 1px solid #ccc;
  border-radius: 4px;
  //margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  //gap: 8px;
  //justify-content: space-between;

  flex-grow: 1;
}
.item-content {

}
.bin-item-description {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.bin-type {
  display: flex;
  align-items: center;
  gap: 4px;
}
.bin-indicator {
  width: 15px;
  height: 15px;
  //background: red;
  border-radius: 4px;
  display: inline-block;
}
.clickable {
  cursor: pointer;
}
.clickable > * {
  cursor: pointer;
}


ul, li {
  list-style: none;
}

ul {

  display: flex;
  gap: 32px;
  //background: pink;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  //background: red;
}

.allocation-decision {
  display: flex;
  justify-content: space-around;

  gap: 10px;

  margin-top: 10px;
  //margin-left: 15px;
  //margin-right: 15px;

}
.allocation-decision > * {
  flex-grow: 1;
}


body {
  font-size: 0.8rem;
}
button {
  font-size: 0.8rem;
  padding: 3px;
}


h3 {
  font-size: 2.3rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
h1, h6 {
  margin-bottom: 0;
  color: #000c;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;


}


.indicator {
  position: relative;
  min-width: 18px;
  height: 18px;
  //margin-top: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  //height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0003;
  border-radius: 9px;

  padding-left: 0.6rem;
  padding-right: 0.6rem;
  color: white;
}

.indicator-RED {
  //background: darkred;
  //background: indianred;
  background: tomato;
}
.indicator-GREEN {
  //background: darkgreen;
  background: #78BC81;
}
