body {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  //border: 1px solid red;
  padding-left: 15vw;
  padding-right: 15vw;
}

.layout {
  display: flex;
  //border: 10px solid cyan;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 3rem;

}

.right-column {

  //height: 30rem;
  //border: 2px solid green;
  flex-grow: 1;
  //height: 200px;
  flex-basis: 300px;

  display: flex;
  flex-direction: column;
}
#SmartBinsMap {
  min-width: 450px;
  //height: 100px;
  flex-basis: 350px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid #0003;
}

.info {// il <p> da problemi. come sta adesso va bene, ma se si fa un confronto tra quando commento il <p> e quando lo abilito, si noterà che la mappa cambia larghezza
  padding: 6px 15px;
  cursor: default;
}

.bin-list {
  //flex-basis: 500px;
  flex-grow: 1;
  cursor: default;

  display: flex;
  flex-direction: column;
}

.request-list {
  cursor: default;
  margin-top: 2rem;
}

.clickable {
  cursor: pointer;
}
.clickable > h4 {
  cursor: pointer;
}



.highlighted {
  background-color: #ffcc0066;
}

button {
  width: 100%;
}

.cool-background {
  background: linear-gradient(45deg,
    #3c31,
    #09c1,
    #30c1,
    #60c1,
    #90c1);
  background-size: 150% 150%;
}



.green {
  background-color: green;
}
.black {
  background-color: black;
}
.purple {
  background-color: purple;
}



form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
  //align-items: center;
  margin-top: 0.5rem;
  background-color: #9af2;
  border: 1px solid #0007;
  border-radius: 8px;
  align-self: center;
}

form > h5 {
  margin-top: 20px;
  margin-left: 35px;
}

.form-group {
  //background: yellow;
  margin: 0.8rem;
  margin-inline: 2rem;
  align-self: stretch;
  //height: 4rem;
}

.form-group > label {
  margin-left: 0.5rem;
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form > button {
  margin: 1rem;
  margin-inline: 2rem;
  //width: 50%;
}

p {
  text-align: justify;
}

#inputSmartBinName {
  width: 16rem;
}
#inputSmartBinType {
  width: 10rem;
}
#inputSmartBinCapacity {
  width: 10rem;
}


h1 {
  margin-bottom: 20px;
}


body, input, button, select {
  font-size: 0.8rem;
}

