<body>
  <h1>SmartBins Allocation</h1>

  <div class="layout">

    <div class="bin-list">
      <h2>Active SmartBins</h2>

      <p *ngIf="this.waitingForSmartBinsList" style="color:#444444; font-size: 1rem;">
        ⏱️ Updating..
      </p>
      <p *ngIf="this.smartBins.length == 0 && this.loadSmartBinsError == false && this.waitingForSmartBinsList == false" style="color:#444444; font-size: 1rem;">
        ⏱️ No SmartBin has been allocated yet.
      </p>
      <p *ngIf="this.loadSmartBinsError == true" style="color:#444444; font-size: 1rem;">
        😵 Unknown error. Unable to get SmartBins list.
      </p>

      <ng-container *ngIf="loadSmartBinsError == false && this.waitingForSmartBinsList == false">
        <app-smart-bin-item-card
          [smartBin]=smartbin *ngFor="let smartbin of this.smartBinsOverThreshold">
        </app-smart-bin-item-card>
        <div *ngIf="this.smartBinsOverThreshold.length != 0" style="align-self: center;margin-top: 0.5rem; margin-bottom: 1rem; width: 90%; height: 2px; border-radius: 2px; background: cadetblue">
        </div>

        <app-smart-bin-item-card
          [smartBin]=smartbin *ngFor="let smartbin of this.smartBinsUnderThreshold">
        </app-smart-bin-item-card>

      </ng-container>
    </div>

    <div class="right-column">

      <div id="SmartBinsMap">
        <app-map [mapId]="'SmartBinsMap'" [handleMarkerClickEvent]="true" (markerEvent)="handleMarkerUpdate($event)"></app-map>
      </div>

      <p class="info">To allocate a new SmartBin, click on an empty spot on the map.</p>
      <!--<button *ngFor="let smartbin of this.smartBins" (click)="highlightBinItem(smartbin.id!)">Evidenzia {{smartbin.name}}</button>-->

      <form #allocateNewBinForm="ngForm" *ngIf="this.showRequestForm" class="cool-background">
        <h5>Allocate new SmartBin</h5>

        <div class="form-group">
          <label for="inputSmartBinName">SmartBin Name</label>
          <input
                  [(ngModel)]="newRequest.smartBinName" name="smartBinName"
                  required
                  minlength="3"
                  pattern=".*"
                  #inputSmartBinName = "ngModel"
                  [ngClass]="{'is-invalid': inputSmartBinName.errors && inputSmartBinName.touched}"
                  type="text" class="form-control" id="inputSmartBinName" placeholder="Insert SmartBin name">

          <div class="invalid-feedback">
            Insert the name.
          </div>
        </div>

        <div class="form-group">
          <label for="inputSmartBinType">Waste type</label>


          <select
            [(ngModel)]="newRequest.type" name="SmartBinType"
            required
            #inputSmartBinName = "ngModel"
            class="form-control" id="inputSmartBinType">
            <option value="" disabled selected>Select</option>
            <option *ngFor="let wasteType of this.wasteTypes" value="{{wasteType.name}}">{{wasteType.name}}</option>
          </select>


          <div class="invalid-feedback">
            Select the typology.
          </div>
        </div>

        <div class="form-group">
          <label for="inputSmartBinCapacity">Capacity (in kg)</label>
          <input
            [(ngModel)]="newRequest.totalCapacity" name="SmartBinCapacity"
            required
            minlength="3"
            pattern=".*"
            #inputSmartBinCapacity = "ngModel"
            [ngClass]="{'is-invalid': inputSmartBinCapacity.errors && inputSmartBinCapacity.touched}"
            type="number" class="form-control" id="inputSmartBinCapacity" placeholder="Capacity">

          <div class="invalid-feedback">
            Insert the capacity.
          </div>
        </div>

        <!--[disabled]="this.markerService.markers.length != 1"-->
        <button
          [disabled] = "!allocateNewBinForm.valid"
          type="submit" (click)="allocateNewBin()" class="btn btn-primary">📍 Allocate new SmartBin</button>

      </form>
      <div class="request-list">
        <h2>Pending Allocation Requests</h2>

        <p *ngIf="this.waitingForSmartBinRequestsList" style="color:#444444; font-size: 1rem;">
          ⏱️ Updating..
        </p>
        <p *ngIf="(this.smartBinRequestService.smartBinRequests == null || this.smartBinRequestService.smartBinRequests.length == 0) && this.loadSmartBinRequestsError == false && !waitingForSmartBinRequestsList" style="color:#444444; font-size: 1rem;">
          ✅ No pending request.
        </p>
        <p *ngIf="this.loadSmartBinRequestsError==true" style="color:#444444; font-size: 1rem;">
          😵 Unknown error. Unable to get pending requests list.
        </p>

        <ng-container *ngIf="loadSmartBinRequestsError == false && !waitingForSmartBinRequestsList">
          <app-request-item-card
            [smartBinRequest]=smartbinRequest
            *ngFor="let smartbinRequest of this.smartBinRequestService.smartBinRequests">
          </app-request-item-card>
        </ng-container>
      </div>


    </div>
  </div>


  <div style="height: 50px;"></div>

</body>
