<body>
  <h1>Allocazione SmartBins</h1>

  <div class="layout">

    <div class="bin-list">
      <h2>SmartBins attivi</h2>

      <p *ngIf="this.smartBins.length==0" style="color:#444444; font-size: 1rem;">
        ⏱️ Nessuno SmartBin è stato ancora allocato.
      </p>
      <app-smart-bin-item-card [smartBin]=smartbin *ngFor="let smartbin of this.smartBins"></app-smart-bin-item-card>
    </div>

    <div class="right-column">

      <div id="SmartBinsMap">
        <app-map [mapId]="'SmartBinsMap'" [handleMarkerClickEvent]="true" (markerEvent)="handleMarkerUpdate($event)"></app-map>
      </div>

      <p class="info">Per posizionare un nuovo SmartBin, effettua un click su un punto vuoto della mappa.</p>
      <!--<button *ngFor="let smartbin of this.smartBins" (click)="highlightBinItem(smartbin.id!)">Evidenzia {{smartbin.name}}</button>-->

      <form #allocateNewBinForm="ngForm" *ngIf="this.showRequestForm" class="cool-background">
        <h5>Alloca nuovo SmartBin</h5>

        <div class="form-group">
          <label for="inputSmartBinName">Nome SmartBin</label>
          <input
                  [(ngModel)]="newRequest.smartBinName" name="smartBinName"
                  required
                  minlength="3"
                  pattern=".*"
                  #inputSmartBinName = "ngModel"
                  [ngClass]="{'is-invalid': inputSmartBinName.errors && inputSmartBinName.touched}"
                  type="text" class="form-control" id="inputSmartBinName" placeholder="Inserisci nome dello SmartBin">

          <div class="invalid-feedback">
            Inserire il nome.
          </div>
        </div>

        <div class="form-group">
          <label for="inputSmartBinType">Tipologia rifiuto</label>


          <select
            [(ngModel)]="newRequest.type" name="SmartBinType"
            required
            #inputSmartBinName = "ngModel"
            class="form-control" id="inputSmartBinType">
            <option value="" disabled selected>Seleziona tipologia di rifiuto</option>
            <option *ngFor="let wasteType of this.smartBinService.getWasteTypes()" value="{{wasteType.name}}">{{wasteType.name}}</option>
          </select>


          <div class="invalid-feedback">
            Selezionare la tipologia.
          </div>
        </div>

        <div class="form-group">
          <label for="inputSmartBinCapacity">Capienza (in kg)</label>
          <input
            [(ngModel)]="newRequest.totalCapacity" name="SmartBinCapacity"
            required
            minlength="3"
            pattern=".*"
            #inputSmartBinCapacity = "ngModel"
            [ngClass]="{'is-invalid': inputSmartBinCapacity.errors && inputSmartBinCapacity.touched}"
            type="number" class="form-control" id="inputSmartBinCapacity" placeholder="Capienza">

          <div class="invalid-feedback">
            Inserire la capienza.
          </div>
        </div>

        <!--[disabled]="this.markerService.markers.length != 1"-->
        <button
          [disabled] = "!allocateNewBinForm.valid"
          type="submit" (click)="allocateNewBin()" class="btn btn-primary">📍 Alloca nuovo SmartBin</button>

      </form>
      <div class="request-list">
        <h2>Richieste in attesa️</h2>

        <p *ngIf="this.smartBinRequestService.smartBinRequests == null || this.smartBinRequestService.smartBinRequests.length == 0" style="color:#444444; font-size: 1rem;">
          ✅ Nessuna richiesta in attesa.
        </p>
        <app-request-item-card
          [smartBinRequest]=smartbinRequest
          *ngFor="let smartbinRequest of this.smartBinRequestService.smartBinRequests">
        </app-request-item-card>

      </div>


    </div>
  </div>


  <div style="height: 50px;"></div>

</body>
