<div class="item-card clickable">

  <div class="item-content">
    <h4 class="clickable">{{citizen.surname + " " + citizen.name}}</h4>

    <div class="item-description">
      <div class="item-type">
        <div class="item-indicator" style="{{'background: '+ Citizen.getSeparationPerformanceColor(Citizen.getSeparationPerformance(citizen))}};">
        </div>
        Performance Separazione: <b>{{isNaN(Citizen.getSeparationPerformance(citizen))? "-" : Citizen.getSeparationPerformance(citizen) + "%"}}</b>
      </div>

      <div class="item-type">
        <div class="item-indicator" style="{{'background: ' + (citizen.taxesStatus ? 'seagreen' : 'tomato')}}">
        </div>
        Stato Tasse: <b>{{citizen.taxesStatus ? "Regolare" : "Non Regolare"}}</b>
      </div>
      <!--<button routerLink="/about/{{user.id}}">about</button>
      <button (click)="goToDetail(user.id)">about_businessLogic</button>-->
    </div>
  </div>
</div>
