<body>
  <!--
  <div style="margin-bottom: 10px;">
    <a routerLink="/citizen">◂ Indietro</a>
  </div>
  -->
  <h2>Disposals</h2>

  <p *ngIf="this.disposals && this.disposals.length == 0" style="color:#444444; font-size: 1rem;">
    ⏱️ No disposal has been made yet in the current year.
  </p>
  <div *ngIf="this.disposals && this.disposals.length != 0">
    <table>
      <tr class="table-header">
        <th>Waste type<div class="column-border"></div></th>
        <th>Volume (kg)<div class="column-border"></div></th>
        <th>Date</th>
        <th>Disposal ID<div class="column-border"></div></th>
      </tr>
      <tr>
        <td colspan="4"><div class="separator"></div></td>
      </tr>
      <tr *ngFor="let disposal of this.disposals">
        <td style="display: flex; align-items: center;">
          <div class="wasteType-color" style="{{'background: '+ this.smartBinService.getWasteColorByName(disposal.type)}};"></div>
          {{disposal.type}}
        </td>
        <td>{{disposal.amount}}</td>
        <td>{{Disposal.getDateTime(disposal.timestamp)}}</td>
        <td>{{disposal.id}}</td>
      </tr>
    </table>
  </div>
</body>
