/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.active {
  background-color: blue;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0;
  margin-top: 2.5rem;
}

.logo > h1 {
  color: rgba(0, 0, 0, 0.70);
  font-family: Inter, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}
.logo > h2 {
  color: rgba(0, 0, 0, 0.70);
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}

body {
  //filter: grayscale(100%);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.60);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  cursor: default;
}


.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  height: 100%;
}

.navbar-logo > h1 {
  color: rgba(0, 0, 0, 0.70);
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}
.navbar-logo > h2 {
  color: rgba(0, 0, 0, 0.70);
  font-family: Inter, sans-serif;
  font-size: 0.67rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}

body {
  //background: whitesmoke;
}


.item-card {
  background: #eee;
  //box-shadow: 0px 4px 8px 4px rgba(150, 150, 150, 0.05);
  border: 1px solid #0004;
  //background: gainsboro;
  //background: #e0efcf;
}

.item-card-wmc { // non implementato in nessuna parte
  background: #eee;
  //box-shadow: 0px 4px 8px 4px rgba(150, 150, 150, 0.05);
  border: 1px solid #6f5e99ff;
  //background: gainsboro;
  //background: #e0efcf;
}
